# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/todo-api

# deployment Configuration (optional)
# COOLIFY_WEBHOOK_URL=

mongodb+srv://debugdevcode:<db_password>@debugdevcode.tbjix.mongodb.net/?appName=debugdevcode